# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
db_dev.sqlite3
/media
/staticfiles
/static

.env
# Virtual Environment
venv/
env/
ENV/
.venv
.core_env
    
# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log


# Backup files
*.backup
*.bak
*.orig

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints
