version: '3.8'

services:
  web:
    image: aviso-core
    env_file:
      - .env
    ports:
      - "8000:8000"
    # Overrides the CMD in Dockerfile if you want hot-reloading for dev
    command: gunicorn aviso_core.wsgi:application --bind 0.0.0.0:8000 --reload