amqp==5.3.1
asn1crypto==1.5.1
async-timeout==4.0.2
-e git+git@github.com:gnanarepo/aviso-infrastructure.git@276ee584f85a5eb8210b396215a7374ccc631f2a#egg=aviso
Aviso-Schema==0.0.0
avisosdk==1.0
billiard==3.6.4.0
boto==2.49.0
boto3==1.17.78
botocore==1.20.78
cached-property==2.0
celery==5.1.2
cffi==1.15.1
click==7.1.2
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==2.4.2
dj-database-url==0.5.0
Django==2.2.28
eventbus==1.0
idna==3.10
imbox==0.9.5
importlib-metadata==4.8.3
importlib-resources==5.4.0
Jinja2==2.11.3
jmespath==0.10.0
kombu==5.1.0
lxml==4.9.3
MarkupSafe==2.0.1
netaddr==0.10.1
newrelic==7.16.0.178
numpy==1.19.5
packaging==21.3
prompt-toolkit==3.0.36
psycopg2-binary==2.8.6
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.10.1
PyJWT==1.7.1
pymongo==3.12.3
pyparsing==3.1.4
pyschema==2.4.0
python-dateutil==2.8.2
python-memcached==1.59
pytz==2018.9
redis==3.5.3
requests==2.14.2
requests-toolbelt==0.8.0
s3transfer==0.4.2
simplejson==3.20.1
six==1.12.0
sqlparse==0.4.4
typing-extensions==4.1.1
urllib3==1.24.1
vine==5.1.0
wcwidth==0.2.13
websocket-client==0.44.0
zipp==3.6.0
